<!DOCTYPE html>
<html ng-app="mealPoints">
  <head>
    <title>Meal Planner</title>
    <!-- add bootstrap, angular, and javascript files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body ng-controller="mealPlannerCtrl as planner">
    <h1>Meal Planner</h1>
    <form action="/results" method="POST">
      <hr>
      <strong>Weekdays</strong>
      <ul>
        <li ng-repeat="day in planner.weekDays">
          <strong>[[ day ]]</strong>
          Breakfast: <input type="checkbox" name="[[day]]-breakfast"/>
          Lunch: <input type="checkbox" name="[[day]]-lunch" />
          Dinner: <input type="checkbox" name="[[day]]-dinner" />
        </li>
      </ul>
      <strong>Weekends</strong>
      <ul>
        <li ng-repeat="day in planner.weekEnds">
          Brunch: <input type="checkbox" name="[[day]]-brunch" />
          Dinner: <input type="checkbox" name="[[day]]-dinner" />
        </li>
      </ul>
      <input type="text" name="mealpoints" placeholder="Enter your mealpoints" required />
      <button> Calculate!</button>
    </form>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
  </body>
</html>
