<!DOCTYPE html>
<html ng-app="mealPoints">
  <head>
    <title>Meal Planner</title>
    <!-- add bootstrap, angular, and javascript files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body ng-controller="mealPlannerCtrl as planner">
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h1 align="center">Meal Planner</h1>
            <br />
            <form action="/results" method="POST">
              <table class="table">
                <tr>
                  <td><strong>Monday</strong></td>
                  <td>Breakfast: <input type="checkbox" ng-model="planner.formData.Mondaybreakfast" /></td>
                  <td>Lunch: <input type="checkbox" ng-model="planner.formData.Mondaylunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Mondaydinner" /></td>
                </tr>
                <tr>
                  <td><strong>Tuesday</strong></td>
                  <td>Breakfast: <input type="checkbox" ng-model="planner.formData.Tuesdaybreakfast" /></td>
                  <td>Lunch: <input type="checkbox" ng-model="planner.formData.Tuesdaylunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Tuesdaydinner" /></td>
                </tr>
                <tr>
                  <td><strong>Wednesday</strong></td>
                  <td>Breakfast: <input type="checkbox" ng-model="planner.formData.Wednesdaybreakfast" /></td>
                  <td>Lunch: <input type="checkbox" ng-model="planner.formData.Wednesdaylunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Wednesdaydinner" /></td>
                </tr>
                <tr>
                  <td><strong>Thursday</strong></td>
                  <td>Breakfast: <input type="checkbox" ng-model="planner.formData.Thursdaybreakfast" /></td>
                  <td>Lunch: <input type="checkbox" ng-model="planner.formData.Thursdaylunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Thursdaydinner" /></td>
                </tr>
                <tr>
                  <td><strong>Friday</strong></td>
                  <td>Breakfast: <input type="checkbox" ng-model="planner.formData.Fridaybreakfast" /></td>
                  <td>Lunch: <input type="checkbox" ng-model="planner.formData.Fridaylunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Fridaydinner" /></td>
                </tr>
              </table>
              <table class="table">
                <tr>
                  <td><strong>Saturday</strong></td>
                  <td>Brunch: <input type="checkbox" ng-model="planner.formData.Saturdaybrunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Saturdaydinner" /></td>
                </tr>
                <tr>
                  <td><strong>Sunday</strong></td>
                  <td>Brunch: <input type="checkbox" ng-model="planner.formData.Sundaybrunch" /></td>
                  <td>Dinner: <input type="checkbox" ng-model="planner.formData.Sundaydinner" /></td>
                </tr>
              </table>
              <input class="form-control" type="text" name="mealpoints" placeholder="Enter your mealpoints" required />
              <br />
              <div style="text-align:center;">
                <button class="btn btn-default">Calculate!</button>
              </div>
            </form>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
  </body>
</html>
