

<html>
  <head>
  </head>
    <title>Meal Planner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1 align="center">Meal Planner</h1>
          <br />
          <table class="table">
            <tr>
              <td><h3 align="center">Current mealpoints:</h3></td>
              <td><h3> {{ current }} </h3></td></tr>
            <tr>
              <td><h3 align="center">Deficit:</h3></td>
              <td><h3>{{ deficitPoints }}</h3></td>
            </tr>
            <tr>
              <td><h3 align="center">Weeks left: </h3></td>
              <td><h3>{{weeksleft}}</h3></td>
            <tr>
              <td><h3 align = "center"> Points to Save Per Week: </h3></td>
              <td><h3>{{additionPoints}}</h3></td>
            </tr>
            <tr>
              <td><h3 align = "center"> Suggested New Plan: </h3></td>
              <td><h3> Cut {{breakfast}} breakfasts, {{brunch}} brunches, {{lunch}} lunches, {{dinner}} dinners per week</h3></td>
            </tr>
          </table>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
